# Dependencias
node_modules/

# Build de producción
dist/

# Archivos de entorno
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Archivos temporales
*.local

# Coverage (si usas tests)
coverage/

# Cache de Vite
.vite/

# Archivos generados por TypeScript
*.tsbuildinfo
